@import url("https://fonts.googleapis.com/css2?family=Arbutus&family=Bebas+Neue&family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour&family=Tiny5&family=Xanh+Mono:ital@0;1&display=swap");

:root {
	--primary-color: #0dde09;
	--white: #ddd;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "jersey 20", sans-serif;
	background: #000000;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: clamp(16px, 1.2vw, 22px);
	line-height: 1.6;
	letter-spacing: 0.5px;
}

.card-title {
	color: var(--primary-color);
	text-decoration: underline;
}

.card-body {
	background: #111;
	border-bottom: 1px solid var(--primary-color);
}

.card-text {
	font-family: "lucida console";
	font-size: 0.875rem;
}

.live-demo:hover,
.live-demo:hover i {
	background: var(--primary-color);
	color: #111;
}

.card-img-top {
	height: 200px;
	object-fit: cover;
	transition: transform 0.4s ease; /* smooth animation */
}

.card:hover .card-img-top {
	transform: scale(1.1); /* zoom in */
}